.vscode
env
__pycache__/
.ipynb_checkpoints/
.DS_Store

# Excluded full Cantus data: too large
cantuscorpus/

results
notebooks

*/run-1/
*/run-2/
*/run-3/
*/run-4/

figures
# Others
tmp/
excluded/
experiments-old/
demo-results/
excluded_notebooks/
*.zip
notes/

*.model